@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oa2dy5');
  src:  url('fonts/icomoon.eot?oa2dy5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oa2dy5') format('truetype'),
    url('fonts/icomoon.woff?oa2dy5') format('woff'),
    url('fonts/icomoon.svg?oa2dy5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_right:before {
  content: "\e905";
}
.icon-keyboard_arrow_left:before {
  content: "\e902";
}
